@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);

html{
    font-family: Helvetica, sans-serif;
}

header{
    position: relative;
    color: #48506D;
}

header img{
    position: absolute;
    left: 100px;
    top: 30px;
    background-color: #C9A535;
    padding: 30px 50px;
    padding-top: 50px;
    -webkit-box-shadow: 1px 1px 1px 1px #707070; 
    box-shadow: 1px 1px 1px 1px #707070;
    z-index: 1;
}

.navigation{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    margin-right: 70px;
}

.navigation ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 50px;
}

.navigation ul li{
    margin-top: 10px;
}

.navigation ul li i{
    font-size: 25px;
}

.info{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.info li{
    margin-right: 50px;
}

.image {
    overflow: hidden;
    position: relative;
    height: 700px;
    }
.image img {
    display: block;
    max-width: 100%;
    height: auto;
    }

.shuttle{
    color: white;
    position: absolute;
    left: 100px;
    top: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    z-index: 1;
    width: 450px;
    height: 200px;
}

.title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    margin-left: 10px;
}

.text{
    margin-bottom: 20px;
    font-weight: 400;
    margin-left: 10px;
}

.shuttle button{
    margin-left: 10px;
    background-color: transparent;
    padding: 10px 0;
    width: 200px;
    border: 5px solid white;
    font-size: 18px;
    color: #E8A31A;
    font-weight: 700;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C9A535;
    color: white;
}

.card-list ul li{
    display: flex;
    margin-left: 130px;
    margin-bottom: 20px;
    width: 70%;
}

.card-list i {
    margin-right: 5px;
}

.card-list p:first-child{
    font-size: 25px;
    margin: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}

.card-list button{
    margin-left: 300px;
    background-color: transparent;
    padding: 10px 0;
    width: 150px;
    border: 5px solid white;
    font-size: 18px;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
}

.most{
    color: #48506D;
}

.see-more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.see-more p:first-child{
    font-size: 40px;
    width: 70%;
    text-align: center;
    margin: 20px 0;
}

.transport{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.transport img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #48506D;
}

.transport ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transport ul li p{
    width: 80%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 14px;
}

.newsletter ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C9A535;
    color:white;
    vertical-align: center;
    padding: 10px 20px;
}

.newsletter ul li ul{
    display: block;
}

.newsletter button{
    background-color: transparent;
    padding: 10px 0;
    width: 150px;
    border: 5px solid white;
    font-size: 18px;
    color: white;
    font-weight: 700;
}

.newsletter ul li ul li:first-child{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

footer{
    text-align: center;
    padding: 20px;
}


