@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #C52536;
}

main{
    display: flex;
    justify-content: center;
    margin: 150px 100px 0 0;

}

section{
    margin-left: 50px;
}

.images{
    display: flex;
}

.images img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.images li{
    margin-left: 30px;
    margin-bottom: 20px;
    border: 1px solid grey;
    border-radius: 10px;

}

.images li p{
    padding: 20px 10px;
    font-weight: 600;
    font-size: 18px;
}

.title{
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

.list li{
    display: flex;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 600;
}

i{
    margin-right: 5px;
}

