@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

main{
    display: flex;
    width: 800px;
    padding-top: 20px;
    padding-bottom: -70px !important;
    justify-content: space-around;
    height: 400px;
}

header{
    display: inline;
    height: 100px;
    width: 600px;
    flex-direction: column;
    justify-content: center;
    background-color: #001216;

}

.first{
    font-family: 'Open Sans', sans-serif;
    color: #1CD0E9;
    font-size: 60px;
}

.second{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: white;
}

.img{
    font-family: 'Open Sans', sans-serif;
    color: #646260;
}

.earth{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    border: 2px grey solid;
}

.earth div{
    margin-left: 20px;
    margin-top: 10px;
}

.earth p{
    width: 200px
}

.text{
    width: 500px;
    height: 500px;
}

.container{
    width: 610px;
    border: 6px #001216 solid;
    margin-left: 400px;
}

img{
    width: 200px;
    height: 200px;
}



article p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    letter-spacing: 2px;
    color: #001216;
    font-weight: 700;
    width: 300px;
    height: 400px;
}

ul{
    background: #D9EBEB;
    width: 600px;
}

footer{
    padding-top: -30px;
}

footer div{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 900px !important;
    background: #001216;
    width: 160px;
    height: 30px;
    text-align: center;
}

footer div p{
    height: 20px;
    padding-top: 5px;
    margin-left: 5px;
}

span{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
    color: #001216 !important;
    margin-right: 5px !important;
}

ul{
    height:100px;
    padding-top: 15px !important;
}

ul li{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px !important;
    margin-left: 20px !important;
}