@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,300&display=swap');

html{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #FFD9B0;
}

body{
    width: 70%;
    margin: 50px auto;
}

section{
    display: flex;
}

img{
    width: 600px;
    height: 600px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

hr{
    height: 1px;
    background: #98A4A9;
    border:none;
    margin-top: 4px;
    margin-bottom: 30px;
}

button{
    background-color: #EDB77D;
    padding: 15px 35px;
    border:none;
    border-radius: 5px;
    margin-left: 60px;
    color: white;
    font-weight: 600;
}

.menu{
    width: 400px;
    background-color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title{
    text-align: center;
    margin-top: 70px;
    font-size: 18px;
    color: white;
}

.input{
    width: 70%;
    margin: 50px auto;
    color: #98A4A9;
}

.input{
    font-size: 12px;
}

.text{
    margin-top: 4px;
}